@charset "utf-8";

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
address, big, cite, code, del, dfn, em, font, img, ins,
q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:none 0; "Microsoft JhengHei",arial,helvetica,sans-serif;; font-weight:normal}
h1, h2, h3, h4, h5, h6 {font-size:12px}
img, fieldset, iframe {border:0 none}
table, div {border-collapse: collapse; font-size:12px}
textarea {overflow:auto; outline-style:none; "Microsoft JhengHei",arial,helvetica,sans-serif;}
select, input, img, li {vertical-align:middle; text-align:left;  "Microsoft JhengHei",arial,helvetica,sans-serif;; outline-style:none} /*폰트크기12없앰, 글자 순서*/
address, caption, cite, code, dfn, em, th, var {font-style:normal; font-weight:normal}
ul, li, ol {list-style-type:none}
legend, caption {display:none}
hr {border-collapse:collapse; display:none}
a { text-decoration:none; cursor:pointer; color:#222}
html, body {width:100%; height:100%}
body {background:#FFF; font-size:12px; color:#222;font-family:'nototr'}

#sub_wrap {position:relative; width:1000px;height:756px;background:#1e232b}

.pd_pan {width:1000px;padding:0px 0 0;margin:0 auto;box-shadow: 1px 3px 20px rgba(0,0,0,5);position:relative;*overflow:hidden;}
    .pd_topbox {width:1000px;height:85px;padding:0;margin:0;position:relative;}
    .pd_topbox_time {position:absolute;top:6px;left:0;right:0;margin:0 auto;padding:0;width:180px;height:25px;line-height:25px;background:#fff;border-radius:100px;z-index: 50;text-align:center;color:#333;font-size:16px;
                              font-family:'notor'}

    .pd_topbox_left_result {width: 199px;height:85px;display:inline-block;background-color: #1e232b;border-right: 1px solid #333b48;text-align: center;}
      .pd_topbox_left_result > h3 {color:#fff;font-family:'notor';font-size:14px;padding:6px 0;}
      .pd_topbox_left_result > h3 > p {color:#fff;font-family:'notor';font-size:14px;display:inline-block;margin-left:5px;font-weight:bold}
      .pd_topbox_left_result > .result_icon {width:46px;height:46px;padding:0;margin:0 auto;}

    .pd_topbox_right_result {width: 799px;height:75px;border-left: 1px solid #13161b;float:right;background:#282f39;padding-top:10px;position:relative;}
      .pd_topbox_right_result > span {padding:0px 0 0 15px;color:#fff;font-family:'notor';font-size:12px;}
      .pd_btn {font-family:'notor';color:#fff;font-size:12px;text-align:center;height:23px;line-height:23px;border:1px solid #1e232b;border-radius:2px;}
        .pd_topbox_right_result_btn {position:absolute;width:128px;background:#414d5f;top:5px;right:45px;cursor:pointer;}
        .pd_topbox_right_result_btn:hover {background:#1e232b;border:1px solid #414d5f;}
          .pd_result_list {width:728px;*height:240px;background:#fff;position: absolute;top: 36px;left:5px;right:5px;z-index:50;margin:0 auto;padding:10px;display:none;}
            .pd_result_list_top {width:728px;height:46px;margin:0;padding:0;position:relative;}
            .pd_result_list_top_btn {width:130px;height:30px;line-height:30px;background:#fff;border:1px solid rgba(0,0,0,0.1);border-radius:4px;display:inline-block;font-family:'notor';cursor:pointer;
                                              padding:0;margin:0;color:#ccc;text-align:center;margin-right:5px;}
            .pd_result_list_top_btn.selected {background:#434556;color:#fff}

			.pd_result_list_area {overflow:scroll;}
            .pd_result_list_table {width:728px;*height:192px;border:1px solid rgba(0,0,0,0.1);border-collapse: collapse;background:rgb(239, 239, 239)}
            .pd_result_list_table tr {}
            .pd_result_list_table tr  td {width:39px;height:34px;border:1px solid rgba(0,0,0,0.1);text-align:center;}
            .pd_result_list_table tr  td > img {width:auto;height:24px;margin:auto;padding:0;}

        .pd_topbox_right_sound_btn {position:absolute;width:30px;height:25px;background:url('./img/pd_topbox_sound_off.png')no-repeat left top;top:5px;right:9px;cursor:pointer;}
        .pd_topbox_right_sound_btn:hover .sound_img {display:none}
      .pd_topbox_right_result_count {width:780px;height:45px;margin:10px 10px 0;font-size:0;}
        .pd_count {width:43.8px;height:43px;line-height:43px;;background:#1e232b;border:1px solid rgba(255,255,255,0.1);border-radius:4px;margin-left:5px;display:inline-block;font-size:20px;color:#fff;
                        font-family:'notor';text-align:left;padding-left:80px;font-weight:700;cursor:default;}
          .pd_count_cherry {background:url('./img/sv_cherry.png')no-repeat #1e232b;background-position:10px center;background-size:40px auto;}
          .pd_count_orange {background:url('./img/sv_orange.png')no-repeat #1e232b;background-position:10px center;background-size:40px auto;}
          .pd_count_grape {background:url('./img/sv_grape.png')no-repeat #1e232b;background-position:10px center;background-size:44px auto;}
          .pd_count_watermelon {background:url('./img/sv_watermelon.png')no-repeat #1e232b;background-position:10px center;background-size:40px auto;}
          .pd_count_bell {background:url('./img/sv_bell.png')no-repeat #1e232b;background-position:10px center;background-size:40px auto;}
		      .pd_count_777 {background:url('./img/sv_777.png')no-repeat #1e232b;background-position:10px center;background-size:40px auto;}


    .pd_sound_box {position: absolute;right: 0;display: inline-block;margin: 8px;z-index: 10;width:80px;height:45px;}
      .pd_sound_btn {display:inline-block;width:40px;height:45px;background:url('./img/pd_b_sound_off.png') no-repeat left top;background-size:100% auto;cursor:pointer}
      .pd_sound_btn .sound_img {width:100%;height:auto;}
      .pd_sound_btn:hover .sound_img {display:none}
    .reset_btn {float:right;width:40px;height:45px;background:url('./img/pd_b_reset.png') no-repeat left top;background-size:100% auto;cursor:pointer}

    .pd_game_box {width:1000px;height:608px;background:url('./img/sv_bg.png') no-repeat center center;background-size:100% auto;position:relative;overflow:hidden !important;margin-top:0px;}
      .pd_game_light01, .pd_game_light02, .pd_game_light03 {width:759px;height:759px;position:absolute;top:-69px;left:120px;margin:auto;}

      .pd_game_light01 {background:url('./img/sv_light05.png') no-repeat center;background-size:94% auto;z-index:3;animation:Light02 0.5s infinite ease 0s backwards;}
      .pd_game_light01.ani {animation:Light 30s infinite linear 0s backwards, Light02 0.5s infinite ease 0s backwards;}
      .pd_game_light02 {background:url('./img/sv_light04.png') no-repeat center;background-size:94% auto;z-index:1;}
      .pd_game_light02.ani {animation:Light 30s infinite linear 0s backwards;}
      .pd_game_light03 {background:url('./img/sv_light04.png') no-repeat center;background-size:94% auto;z-index:2;}
      .pd_game_light03.ani {animation:Light 30s infinite linear 0s backwards;}
      @-webkit-keyframes Light {
          from {-webkit-transform: rotate(0deg); }
          to {-webkit-transform: rotate(-360deg);}}
      @-webkit-keyframes Light02 {
          0% {opacity:1; }
          50% {opacity:0; }
          100% {opacity:1;}}

      .pd_game_pan {width:532px;height:532px;background:url('./img/sv_rolling_pan03.png') no-repeat center center;background-size:100% auto;position:absolute;top:45px;left:0;right:0;margin:auto;}

	  /*
      .pd_game_pan.ani {
          -webkit-animation:pan 2s infinite linear 0s backwards;
          -moz-animation:pan 2s infinite linear 0s backwards;
          animation:pan 2s infinite linear 0s backwards;
      }

      @-webkit-keyframes pan {
          from {-webkit-transform: rotate(0deg); -moz-transform: rotate(0deg);transform: rotate(0deg);}
          to {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);transform: rotate(360deg);}
      }
	  */

      .pd_game_roulette {width:390px;height:390px;background:url('./img/sv_logo.png') no-repeat center center;background-size:100% auto;position:absolute;top:115px;left:0px;right:0;margin:auto;}
      .pd_game_pin {width:50px;height:53px;background:url('./img/sv_pin.png') no-repeat center center;background-size:auto 100%;position:absolute;top:20px;left:0px;right:0;margin:auto;z-index:10;}

	  /*
	  .pd_game_pin.ani {
          -webkit-animation:pin 0.5s infinite linear 0s backwards;
          -moz-animation:pin 0.5s infinite linear 0s backwards;
          animation:pin 0.5s infinite linear 0s backwards;
      }

      @-webkit-keyframes pin {
          from {-webkit-transform: rotate(0deg); -moz-transform: rotate(0deg);transform: rotate(0deg);}
          to {-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);transform: rotate(-45deg);}
      }
	  */

      .pd_text_box {width:460px;height:100px;background:rgba(0,0,0,0.7);position:absolute;top:255px;left:0px;right:0;margin:auto;z-index:10;border-radius:10px;color:#fff;text-align:center;}
      .pd_text_box > h2 {font-size:14px;font-family:'Roboto';font-weight:600;margin:20px 0 0;}
      .pd_text_box > p {font-size:32px;font-family:'Roboto';font-weight:600;}

    .pd_vs_box {width:1000px;height:auto;background:url('./img/pd_vs.png')no-repeat center top;position:absolute;bottom:-41px;left:0;right:0;z-index:10;color:#fff;text-align:center;font-family:'notor'}
      .pd_vs_box_top {width:655px;height:12px;padding:0;margin:17px auto 20px;position:relative;*background:rgba(0,0,0,0.3);}
      .graph_yellow_area {position:relative;float:left;width:253px;height:11px;*background:#ce1c7b;border-radius:10px;overflow:hidden;}
      .graph_skyblue_area {position:relative;float:right;width:253px;height:11px;*background:#7760d5;border-radius:10px;overflow:hidden;}
      #graph_yellow{display:block;position:absolute;right:-18px;top:1px;height:19px;text-align:right;background:#f2d62f;}
      #graph_skyblue{display:block;position:absolute;left:-18px;top:1px;height:19px;text-align:left;background:#61c8db;}

      .vs_area {position:absolute;left:50%;top:0px;margin-left:-75px;width:150px;height:12px;z-index:10;*background:green}
      .txt_per{width:42px;height:12px;line-height:12px;text-align:center;font-family:'notor';font-size:12px;font-weight:600;}
      .ico_vs{display:none;}

      #txt_yellow_per{float:left;margin-left:2px;color:#000;}
      #txt_skyblue_per{float:right;margin-right:2px;color:#000;}

      .pd_vs_box_bottom {color:#fff;font-family:'notor'}